@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  margin: 10px 0;
}

.box {
  animation: animName 20s linear infinite;
  width: 50px;
  height: 50px;
  margin: 20px;
}

@keyframes animName {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scroll-btn {
  position: absolute;
  height: 6em;
  width: 3.25em;
  border: 0.1em solid #858585;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 1.25em;
  border-radius: 3em;
}
.scroll-btn:before {
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  top: 1.2em;
  height: 0.4em;
  width: 0.4em;
  background-color: #858585;
  border-radius: 50%;
  animation: move-down 2s infinite;
}
@keyframes move-down {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(2.3em);
    opacity: 0;
  }
}
.scroll-btn:after {
  position: absolute;
  width: 12em;
  display: block;
  width: 12em;
  text-align: center;
  left: -4.2em;
  bottom: -2.5em;
  font-size: 1.6em;
  color: #858585;
  letter-spacing: 3px;
  font-weight: 600;
}
